In [ ]:
!pip install -U finance-datareader
import FinanceDataReader as fdr
df_krx = fdr.StockListing('KRX')

Collecting finance-datareader
  Downloading finance_datareader-0.9.31-py3-none-any.whl (17 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.2.6)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.1.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.41.1)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.31 requests-file-1.5.1

In [ ]:
import sqlite3
conn = sqlite3.connect('./db.stock')
c = conn.cursor()
c.execute("CREATE TABLE IF NOT EXISTS article (id INTEGER PRIMARY KEY AUTOINCREMENT, date TEXT, time TEXT, title TEXT, press TEXT , stock TEXT, posi_nega TEXT)")

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# https://jsikim1.tistory.com/143
from datetime import datetime , timedelta
from dateutil.relativedelta import relativedelta 

now = datetime.now()
gap = now - relativedelta(years=1)
# gap = now - timedelta(days=1)

now = str(now)[0:10]
gap = str(gap)[0:10]

dt_index = pd.date_range(start=gap, end=now)
dt_list = dt_index.strftime("%Y%m%d").tolist()

for j in dt_list:

  date_cnt_uri = 'https://finance.naver.com/news/news_list.nhn?mode=LSS3D&section_id=101&section_id2=258&section_id3=402&date='+j+'&page=100'
  date_cnt_target = date_cnt_uri
  date_cnt_req  = requests.get(date_cnt_target)
  date_cnt_soup = BeautifulSoup(date_cnt_req.content,'html.parser')
  date_cnt_page = int(date_cnt_soup.select('td.on > a ')[0].get_text())
  
  uri = 'https://finance.naver.com/news/news_list.nhn?mode=LSS3D&section_id=101&section_id2=258&section_id3=402&date='+j+'&page='

  for page in range(1,date_cnt_page+1):    

    target = uri+str(page)
    req  = requests.get(target)
    soup = BeautifulSoup(req.content,'html.parser')
    datas = soup.select('#contentarea_left > ul.realtimeNewsList')

    for content in datas:
      
      titles = content.select(' li > dl > dd.articleSubject')
      article_date =  content.select('li > dl > dd.articleSummary > span.wdate ')
      article_press =  content.select('li > dl > dd.articleSummary > span.press ') 

      article_sum = list()

      for i in range(0,len(titles)-1):
        article_data = list()
        
        data_date = article_date[i].get_text(" ",strip=True)[0:10]
        data_time = article_date[i].get_text(" ",strip=True)[11:17]
        data_press = article_press[i].get_text(" ",strip=True)
        data_title = titles[i].get_text(" ",strip=True)

        c.execute("INSERT INTO article( date , time , press , title, stock , posi_nega ) VALUES(?,?,?,?,?,?)",( data_date,data_time,data_press,data_title,'stock','posi_nega'))
        conn.commit()

c.close()

In [ ]:
conn = sqlite3.connect('/content/db.stock')

c_title = conn.cursor()
c_id = conn.cursor()
c_update = conn.cursor()

c_title.execute("SELECT title FROM article ")
c_id.execute("SELECT * FROM article ")

sql_title = c_title.fetchall()
sql_id = c_id.fetchall()

title_list = [list[0] for list in sql_title ]
id_list = [list[0] for list in sql_id ]

df_krx_list = df_krx['Name'].tolist()

for k in range(0,len(title_list)):
  for l in range(0,int(len(title_list[k].split()))):
    keyword = title_list[k].split()[l]
    if keyword in df_krx_list:
      sql_update = 'update article set stock = "' + keyword +'" where id = ' + str(sql_id[k][0])
      c_update.execute(sql_update)
      conn.commit()

In [ ]:
conn = sqlite3.connect('/content/db.stock')
c_select = conn.cursor()
final = c_select.execute("SELECT * FROM article where stock != 'stock' order by date desc , time desc")
df = pd.DataFrame(final)
df.columns= ['id', 'date' , 'time' , 'title', 'press' ,'stock' , 'posi_nega' ]
df

         id        date   time  ...   press      stock  posi_nega
0     27590  2021-08-12  11:38  ...   아시아경제       크래프톤  posi_nega
1     27605  2021-08-12  10:20  ...  파이낸셜뉴스      원익IPS  posi_nega
2     27607  2021-08-12  10:08  ...  파이낸셜뉴스        베스파  posi_nega
3     27608  2021-08-12  09:54  ...  파이낸셜뉴스    위지윅스튜디오  posi_nega
4     27614  2021-08-12  09:28  ...   머니투데이     에코프로비엠  posi_nega
...     ...         ...    ...  ...     ...        ...        ...
2993     62  2020-08-12  10:02  ...    매일경제         대상  posi_nega
2994     66  2020-08-12  09:40  ...  파이낸셜뉴스       셀트리온  posi_nega
2995     68  2020-08-12  09:34  ...  파이낸셜뉴스  SK바이오사이언스  posi_nega
2996     86  2020-08-12  08:22  ...  파이낸셜뉴스   삼성바이오로직스  posi_nega
2997     90  2020-08-12  08:17  ...   아시아경제        컴투스  posi_nega

[2998 rows x 7 columns]